<%
  @settings = Hash.new unless @settings.is_a?(Hash)
%>
<p>
  <%= label_tag :settings_show_account_menu, 'Show account menu' %>
  <%= check_box_tag 'settings[show_account_menu]', true, @settings['show_account_menu'] %>
</p>

<p>
  <%= label_tag :settings_job_list_field_id, 'List of jobs custom field ID' %>
  <%= text_field_tag 'settings[job_list_field_id]', @settings['job_list_field_id'] %>
</p>

<p>
  <%= label_tag :settings_default_activity_field_id, 'Default activity custom field ID' %>
  <%= text_field_tag 'settings[default_activity_field_id]', @settings['default_activity_field_id'] %>
</p>

<% (@settings['account_start_days'] || {}).each do |k,v| %>
    <%= hidden_field_tag "settings[account_start_days][#{k}]", v %>
<% end %>
