<%if @add_issue then%>
<tr id="time_entry_pos<%=@add_issue_id%>_<%=@add_count%>">
  <td>
  <div style="position:relative;width:300px;">
    <%= link_to(@issueHtml.html_safe, {:controller=>"issues", :action=>"show", :id=>@add_issue.id},
                :popup=>true, :class=>'wt_iss_link', :'data-issue'=>@add_issue.id) %>
  </div>
  </td>
  <td>
    <%= text_field_tag("new_time_entry["+@add_issue_id+"]["+@add_count+"][hours]", "", :size=>5, :oninput => "sumDayTimes()") %>
  </td>
  <% if @is_registerd_backlog then %>
  <td>
    <% if @add_issue_children_cnt != 0 || @add_issue.closed? then %>
      <%= @add_issue.remaining_hours %>
    <% else %>
        <%= text_field_tag("new_time_entry["+@add_issue_id+"]["+@add_count+"][remaining_hours]", @add_issue.remaining_hours, :size=>5, :oninput => "sumDayTimes()") %>
    <% end %>
  </td>
  <% end %>
  <td>
    <%= select_tag "new_time_entry["+@add_issue_id+"]["+@add_count+"][activity_id]", options_for_select(@activities,@activity_default), :required => true %>
  </td>
  <td>
    <% if !@jobs.empty? then %>
      <%= select_tag "new_time_entry["+@add_issue_id+"]["+@add_count+"][job]", options_for_select(@jobs,@jobs[0]) %>
    <% end %>
  </td>
  <td>
    <%= text_field_tag("new_time_entry["+@add_issue_id+"]["+@add_count+"][comments]", "", :size=>80)%>
  </td>
  <%if @custom_fields.length != 0
      dummy_hour = TimeEntry.new(:project => @add_issue.project, :issue => @add_issue, :user => @this_user, :spent_on => @this_date)
      dummy_hour.custom_field_values.each do |cfv|
  %>
     <td><%= custom_field_tag "new_time_entry_"+@add_issue_id+"_"+@add_count, cfv %></td>
      <%end end%>
  <td>
    <a href="#"
      title="<%=l(:wt_duplicate_issue)%>"
      onclick="JavaScript:
         dup_ticket(
           '<%=url_for(@link_params.merge(:action=>"ajax_add_tickets_insert"))%>',
           'time_entry_pos<%=@add_issue_id%>_<%=@add_count%>',
           <%=@add_issue.id%>);
         return false;">
      +
    </a>
  </td>
</tr>
<%end%>
