<%=javascript_include_tag "work_time", :plugin=>'redmine_work_time' %>
<%=stylesheet_link_tag 'work_time', :plugin => 'redmine_work_time' %>

<script type="text/javascript">
  $(document).ready(function() {
    install_filter_handlers();
    install_mandatory_select_handlers();
  });
</script>

<%= @message.html_safe %>
<div class="contextual">
<%= render :partial=>'select_project' %>
<%if User.current.allowed_to?(:view_work_time_other_member, @project) || User.current.admin then%>
  <%= render :partial=>'select_user', :locals=>{:link_params=>@link_params} %>
<%end%>
  <%if User.current.admin then%>
      <%if WtHolidays.where(["holiday=:h and deleted_on is null",{:h=>@this_date}]).all.size == 0 then %>
          <input type="button"
                 onclick="location.href='<%=url_for(@link_params.merge(:set_holiday=>@this_date))%>'"
                 value="<%=l(:wt_set_holiday)%>"
          />
      <%else%>
          <input type="button"
                 onclick="location.href='<%=url_for(@link_params.merge(:del_holiday=>@this_date))%>'"
                 value="<%=l(:wt_del_holiday)%>"
          />
      <%end%>
  <%end%>
</div>

<%= render :partial=>'user_month_table' %>

<br/>

<%= form_tag @link_params do %>
    <%= hidden_field_tag('year', @this_date.year) %>
    <%= hidden_field_tag('month', @this_date.month) %>
    <%= hidden_field_tag('day', @this_date.day) %>
    <%= hidden_field_tag('user', @this_uid) %>
    <%= hidden_field_tag('prj', @restrict_project) %>

    <table border="0" id="time_input_table">
      <thead>
        <tr>
          <td colspan="6">
            <h2>
              <%=l(:wt_daily_report)%>
              <%=@this_date.strftime("%Y-%m-%d")%>
            </h2>

            <%=l(:wt_filter)%>
            <%= radio_button_tag 'filter_issues', 'all', true %>
            <label for="filter_issues_all"><%=l(:wt_filter_all)%></label>
            <%= radio_button_tag 'filter_issues', 'month' %>
            <label for="filter_issues_month"><%=l(:wt_filter_month)%></label>
            <%= radio_button_tag 'filter_issues', 'day' %>
            <label for="filter_issues_day"><%=l(:wt_filter_day)%></label>
          </td>
        </tr>
        <tr style="font-size:14px">
          <th><%=l(:wt_project_issue)%></th>
          <th><%=l(:wt_hours)%></th>
          <% if @is_registerd_backlog then %>
          <th><%=l(:field_remaining_hours)%></th>
          <% end %>
          <th><%=l(:field_activity)%></th>
          <th><%=l(:wt_field_job)%></th>
          <th><%=l(:field_comments)%></th>
          <% @custom_fields.each do |cf| %>
            <th><%= cf.name %></th>
          <% end %>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render :partial=>'user_day_table' %>
      </tbody>

      <tfoot>
        <tr id="time_input_table_bottom">
          <td><%=l(:wt_total)%></td>
          <td><span id='currentTotal' title='<%=l(:wt_saved_value)%> <%=sprintf("%1.2f", @day_pack[:total])%>'><%=sprintf("%1.2f", @day_pack[:total])%></span></td>
          <% if @is_registerd_backlog then %>
          <td>&nbsp;</td>
          <% end %>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <% @custom_fields.each do |cf| %>
            <td>&nbsp;</td>
          <% end %>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <%if @this_uid==@crnt_uid || User.current.allowed_to?(:edit_work_time_other_member, @project) %>
          <td colspan="6">
              <input type="button" id="save_button" onclick="$(window).off('beforeunload'); window.onbeforeunload = null; submit();" value="<%= l(:wt_update) %>" />
          </td>
          <%end%>
        </tr>
      </tfoot>
    </table>

<%end%>
